<div>
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>名称</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="请输入名称" [(ngModel)]="goodscName" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="10">
            <nz-form-item>
                <nz-form-label>根类</nz-form-label>
                <nz-form-control>
                    <nz-switch [(ngModel)]="switchRoot"></nz-switch>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="10" style="margin-left: 15px;">
            <nz-form-item>
                <nz-form-label>启用</nz-form-label>
                <nz-form-control>
                    <nz-switch [(ngModel)]="switchEnable"></nz-switch>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row *ngIf="switchRoot===false">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>父级</nz-form-label>
                <nz-form-control>
                    <nz-cascader [nzOptions]="parentOptions" [(ngModel)]="parentName" [nzShowSearch]="true" (ngModelChange)="onChanges($event)"> </nz-cascader>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>排序</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="请输入排序数字" type="number" [(ngModel)]="goodscSort" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row class="btn_create">
        <button nz-button nzType="primary" (click)="onModify()" [nzLoading]="isModifyLoading">确认</button>
    </div>
</div>